# https://gitlab.syncad.com/hive group specification, offering aggregated package view: https://gitlab.syncad.com/groups/hive/-/packages
@hiveio:registry=https://gitlab.syncad.com/api/v4/groups/136/-/packages/npm/
@mtyszczak-cargo:registry=https://gitlab.syncad.com/api/v4/projects/541/packages/npm/

# Enforce strict engine-versions from package.json
engine-strict=true

# Always install/remove dependencies from the pnpm workspace root
ignore-workspace-root-check=true

#When executing commands recursively in a workspace, execute them on the root workspace project as well
include-workspace-root=true
